<form action="/todos" method="post">
    <input type="text" name="id" placeholder="ID">
    <input type="text" name="body" placeholder="Body">
    <input type="text" name="completed" placeholder="Completed?">
</form>
